.episode-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  height: 400px;
  border: 2px solid black;
  font-family: var(--font2);
  color: var(--color-grey);
  /* background: peru; */
}

.details {
  display: flex;
  justify-content: space-between;
}

.date {
  padding: 0.5rem;
  text-align: left;
}

.duration {
  padding: 0.5rem;
  text-align: right;
}

.title {
  color: var(--color-red);
  font-size: 2rem;
  font-family: var(--font1);
  padding: 0.5rem;
  text-align: center;
  transform: translateY(-200%);
  /* padding-bottom: 3rem; */
}

.subtitle {
  padding: 0.5rem;
  text-align: center;
  width: 100%;
}
